body{
	margin:0px;
	padding:0px;
	font-family: "montserrat",sans-serif;
	min-height:100vh;
    background-image:linear-gradient(#16a085,#1abc9c,#e67e22);
}
.container {
	width: 100%;
	position: absolute;
	top:10%;
	transform:tranlatey(-50%);
	text-align: center;
	color: #343434;
}
.container h1{
	font-size: 160px;
	margin=:0;
	font-weight: 650;
	letter-spacing: 20px;
	background: url(pexels-eberhard-.jpg) center no-repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.container a{
	text-decoration: none;
	background: #e74c3c;
	color: #fff;
	padding: 12px 24px;
	border-radius: 25px;
	font-size: 15px;
	text-transform:uppercase;
	transition: .5s;
}   
.container a:hover{
	background:#f39c12;